@import url("https://fonts.googleapis.com/css2?family=Ramaraja&family=Roboto:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.active {
  font-weight: bolder;
  color: #252425;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  overflow-y: hidden;
}
/* ================== Hero Styles =======================*/
#hero-heading {
  margin-top: 18rem;
}

#hero-heading h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 42px;
  padding: 0 10rem 0 0;
  line-height: 56px;
  color: #1b0a42;
}

#hero-heading h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 24px;
  padding-right: 5rem;
  margin-top: 20px;
  color: #5f5f5f;
}

@media screen and (max-width: 991px) {
  #hero-heading {
    order: 2;
    margin-top: 1rem;
    padding-left: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  #hero-heading h1,
  #hero-heading h2 {
    padding: 1rem;
  }

  #hero-image {
    order: 1;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #hero-heading h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #her-heading h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

.underline {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2.5px;
  background: #254547;
  bottom: 15;
  left: calc(50% - 30px);
}

/* ======================= Problem Sections ============================ */

.flippy-container {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50px;
  margin-bottom: 5rem;
  margin-top: 2rem;
  background: transparent;
}

.flippy-cardContainer-wrapper.horizontal {
  width: 300px;
  height: 300px;
  background: transparent;
  border-radius: 50px;
}

.flippy-card.flippy-front {
  padding: 0;
  border-radius: 50px;
  background: transparent;
}

.flippy-card.flippy-back {
  padding: 0;
  border-radius: 50px;
  background: transparent;
  border: 1px rgb(105, 103, 103) solid;
  overflow-y: hidden;
}

.flippy-front,
.flippy-back {
  padding: 0;
  border-radius: 50px;
  background: transparent;
}

@media screen and (max-width: 991px) {
  .service-order {
    order: 1;
  }

  .service-order-2 {
    order: 2;
  }
}

/* ====================== FAQ Section =========================*/

.faq-row-wrapper {
  margin: 1.5rem 6rem 0 6rem;
}

.row-title-text {
  color: #5f5f5f;
  font-weight: 600;
}

.icon-wrapper {
  overflow-y: hidden;
  height: 90%;
}

.row-content {
  padding: 0 2rem;
  color: #5f5f5f;
}

@media screen and (max-width: 991px) {
  .faq-row-wrapper {
    margin: 1.5rem 3rem 0 3rem;
  }

  .row-content {
    padding: 0 1rem;
  }
}

.slick-slider {
  height: 100%;
}

.slick-list {
  margin-top: 0rem;
  overflow-y: hidden;
  margin-top: 5rem;
}

.slick-dots {
  position: absolute;
  bottom: 0px;
}

.slick-next,
.slick-prev {
  display: none;
}

.slick-track {
  margin: 0 0rem;
}

@media screen and (max-width: 991px) {
  .slick-list {
    margin-top: 2rem;
  }
}

/* ====================== Multi Navigation =================*/

.multinavlogo {
  height: 60px;
  margin-right: 20px;
  margin-top: 4px;
}

.multinavheading {
  color: #254547;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 12px;
}

@media screen and (max-width: 991px) {
  .multinavlogo {
    height: 45px;
    margin-right: 5px;
  }

  .multinavheading {
    font-size: 1.5rem;
  }
}
